<h1>Our Mission</h1>

<p>Creating a community to monitor and protect the biodiversity of the L.A.
River System.</p>

<h1>About Us</h1>

<p>Protecting Our River is a community engagement project that mobilizes L.A.
residents from a variety of backgrounds  to help monitor the biodiversity of
the L.A. River and its tributaries. We hope to serve as an example how
scientists, neighborhood leaders, conservationists, writers, community
scientists, educators, students, and artists can work together to deal with
environmental challenges.</p>

<p>Protecting Our River is a project by <a href="https://ucedna.com">CALeDNA</a>,
a University of California community science initiative that  aims to monitor
California’s biodiversity through environmental DNA (eDNA) – the DNA organisms
shed into the environment. Community scientists collect soil samples throughout
California; UC researchers analyze the eDNA in the soil and identify the
microbes, fungi, plants, and animals in the area.</p>
