<div class="hero">
  <%= image_tag "Los_Angeles_River.jpg", class: 'hero' %>

  <div class='overlay'>
    <h1>Protecting Our River</h1>
    <p>Together, we can help protect the LA River System's biodiversity.</p>
  </div>
</div>

<br><br>
<h2 style="text-align:center">More info to come...</h2>
