@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "utils";
@import "home";
@import "news";

.navbar-default {
  background-color: #eee;
  border: 0;
  border-radius: 0;

}

footer {
  background-color: #eee;
  padding: 1em 0;
  margin-top: 2em;

  ul.social-media {
    list-style: none;
    padding: 0;

    a, a:hover {
      color: #333333;
    }

    li {
      float: left;
      border-left: 1px solid #333;
      padding: 0 5px;

    }
    li:first-child {
      border-left: 0;
    }
  }
}


