<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div>
        Protecting Our River
        </div>
      </div>

      <div class="col-sm-8">
        <ul class="social-media">
          <li>
            <a href="https://twitter.com/protectourriver/">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://instagram.com/ProtectingOurRiver/">
              Instagram
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ProtectingOurRiver/">
              Facebook
            </a>
          </li>
        <ul>
      </div>
    </div>
  </div>
</footer>
